<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="">
                <mat-list-item>
                    <em class="material-icons">home</em>
                    Home
                </mat-list-item>
            </a>
            <a routerLink="painel">
                <mat-list-item>
                    <em class="material-icons">admin_panel_settings</em>
                    Meu Espaço
                </mat-list-item>
            </a>
            <a routerLink="/usuarios">
                <mat-list-item>
                    <em class="material-icons">group</em>
                    Usuário
                </mat-list-item>
            </a>
            <a>
                <mat-list-item>
                    <em class="material-icons">schedule</em>
                    Agende seu Horário
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
