<div class="content">
    <div class="title">
        <h1>LIVROS</h1>
    </div>

    <button class="mat-elevation-z8" mat-stroked-button color="accent">NOVO
        LIVRO</button>

    <div class="mat-elevation-z8 content-table">
        <table class="table" [dataSource]="livros" mat-table>
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Titulo Column -->
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> TITULO </th>
                <td mat-cell *matCellDef="let row"> {{row.titulo}} </td>
            </ng-container>

            <!-- Livros Column -->
            <ng-container matColumnDef="livros">
                <th mat-header-cell *matHeaderCellDef> LER LIVRO </th>
                <td mat-cell *matCellDef="let row">
                    <a class="livros">
                        <em class="material-icons">book</em>
                    </a>
                </td>
            </ng-container>


            <!-- Ação Column -->
            <ng-container matColumnDef="acoes">
                <th class="mat-header" mat-header-cell *matHeaderCellDef> AÇÕES </th>
                <td mat-cell *matCellDef="let row">
                    <a class="edit">
                        <em class="material-icons">edit</em>
                    </a>
                    <a class="delete">
                        <em class="material-icons">delete</em>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>
