<form>
    <h1>ATUALIZANDO USUÁRIO</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome" type="text" name="nome" placeholder="Jose Ap. Ramos Jr.">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="usuario.descricao" type="text" name="descricao" type="text" name="descricao"
            placeholder="Nível de desenvolvedor"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button
            color="custom-app-primary">ATUALIZAR</button>
        <button (click)="cancel()" class="mat-" class="mat-elevation-z8" mat-stroked-button
            color="custom-app-warn">CANCELAR</button>
    </div>

</form>
