<form>
    <h1>CRIANDO UM NOVO USUÁRIO</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome" type="text" name="nome" placeholder="Jose Ap. Ramos Jr.">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="usuario.descricao" type="text" name="descricao" placeholder="Nivel"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="custom-app-primary">CRIAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="custom-app-warn">CANCELAR</button>
    </div>

</form>
